@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#content {
    padding: 0 3rem;
  }

aside {
    position: sticky;
    top:0;
}
section {}

@media print {
  body {
    padding-left: 0 !important;
  }
  .no-print {
    display: none !important;
  }
}

/* OVERRIDES */
:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854F;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.6rem;
  --font-color: #333333;
  --font-family-sans: Lato, sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;

  /*  padding utils */
  .padding-min {
      padding: 0.5rem 1rem;
  }
  .padding-med {
      padding: 1rem 2rem;
  }
  .padding-max {      
      padding: 1.5rem 3rem;  
  }
}
