<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>    
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <link rel="stylesheet" href="css/style.css">    
  </head>
  <body>
    {% include header.html %}

    

<div class="row reverse">
  <div class="no-print col col-12 col-3-md col-4-lg bg-light">
    <aside>
        <strong class="is-center">Contents</strong>
        <hr/>
        <div id="toc"></div>
        <hr/>
        <a href="#" onclick="javascript:window.print();" class="button outline primary" style="width:100%;">EXPORT</a>
    </aside>
  </div>  
  <div class="col col-12 col-9-md col-8-lg">
    <section id="content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </section>
  </div>
  
   
 {% include footer.html %}
  </body>
</html>
