<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>    
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <link rel="stylesheet" href="css/style.css">    
  </head>
  <body>
    {% include header.html %}

    <h1>{{ page.title }}</h1>

<div class="row">
  <div class="col">
    <section id="content">
      {{ content }}
    </section> </div>
  <div class="col no-print">
    <aside class="card no-print">
        <strong class="is-center">Contents</strong>
        <hr/>
        <div id="toc"></div>
        <hr/>
        <a href="#" onclick="javascript:window.print();" class="button outline primary" style="width:100%;">EXPORT</a>
    </aside>
  </div>  
   
 {% include footer.html %}
  </body>
</html>
