<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.9.0/js/foundation.min.js" integrity="sha512-P4f0g0iAkyfUF2V2VX8dxkoBxPLULaV2TM8HQGXFRb75AzLVAf+sn+MRweu/C81rL2JaYutbY6cWAbmwJbtOcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    {% include header.html %}

    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
 {% include footer.html %}
  </body>
</html>
